<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatterbox Voice Clone TTS</title>
    <link rel="icon" href="{{ url_for('static', filename='chatterteeth.svg') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
    <h1>💀🔫 Voice Cloning TTS Generator</h1>
    
    <div id="ctrl-grp" class="controls">           
        <button class="btn btn-generate" onclick="generateTTSAudio()">GENERATE AUDIO</button>
        <button class="btn btn-clear-text" onclick="clearText()">CLEAR TEXT</button>
    </div>
    <div id="loading-indicator" class="loading-indicator" style="display: none;">
         <div class="spinner"></div>
         <p>Generating audio... This may take a moment.</p>
    </div>
    
    <div id="nar-select" class="input-group wav-select-group">
        <label for="narrator-wav">Select Sample Voice:</label>
        <select id="narrator-wav" onchange="document.getElementById('upload-wav').value = ''; updateFileNameDisplay(document.getElementById('upload-wav'))">
            <option value="none" selected>-- Select Reference Audio --</option>
            {% for file in sample_files %}
            <option value="{{ file }}">{{ file }}</option>
            {% endfor %}
        </select>
    </div>    
    
    <div style="display: flexbox; align-items: center; align-content: center; text-align: center;">
        <label for="upload-who" class="file-upload-label">
            <span id="upload-filename">click here to upload who you want saying it in WAV...</span>
            <input type="file" id="upload-wav" accept=".wav,.mp3" onchange="updateFileNameDisplay(this); document.getElementById('narrator-wav').value = 'none';">
        </label>
        <label for="upload-what" class="file-upload-label">
            <span id="upload-filename">click here to upload what you want said in WAV...</span>
            <input type="file" id="upload-wav" accept=".wav,.mp3" onchange="updateFileNameDisplay(this); document.getElementById('narrator-wav').value = 'none';">
        </label>
    </div>

    <div id="inputs-grp" class="input-group text-area-group">
        <label for="text-prompt">Text to Synthesize:</label>
        <textarea id="text-prompt" placeholder="Enter your text here..."></textarea>
    </div>
    
    <div id="player" class="player-area" hidden="true">
        <audio id="audio-player"  controls></audio>
        <button id="download-btn" class="btn btn-clear-text" onclick="downloadAudio()">
            Download
        </button>
    </div>

</div>
<script src="{{ url_for('static', filename='page_scripts.js') }}"></script>
</body>
</html>
